<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
</head>

<body>
    <form action="/update/{{ employee.id }}" class="post-form" method="post">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-grop row">
                <lable class="col-sm-4 col-form-lable"></lable>
                <div class="col sm-4">
                    <h3>Update Details</h3>
                </div>
            </div>
            <div class="form-grop row">
                <lable class="col-sm-4 col-form-lable">Employee Id:</lable>
                <div class="col sm-4">
                    <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{ employee.eid }}" />
                </div>
            </div>
            <div class="form-grop row">
                <lable class="col-sm-4 col-form-lable">Employee Name:</lable>
                <div class="col sm-4">
                    <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{ employee.ename }}" />
                </div>
            </div>
            <div class="form-grop row">
                <lable class="col-sm-4 col-form-lable">Employee Email:</lable>
                <div class="col sm-4">
                    <input type="text" name="eemail" id="id_eemail" required maxlength="254" value="{{ employee.eemail }}" />
                </div>
            </div>
            <div class="form-grop row">
                <lable class="col-sm-4 col-form-lable">Employee Contact:</lable>
                <div class="col sm-4">
                    <input type="text" name="econtact" id="id_econtact" required maxlength="15" value="{{ employee.econtact }}" />
                </div>
            </div>
            <br>
            <div class="form-grop row">
                <lable class="col-sm-4 col-form-lable"></lable>
                <div class="col sm-4">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>